
{%- for collection in collections -%}
 {% if collection.title == "Featured" %}
   {%- assign handle = collection.handle -%}
   {% for product in collections[handle].products %}
     <a href = "{{ product.url }}"><p>{{ product.title }}</p></a>
     {% form "product", product %}
       <input type="hidden" name="id" value="{{       product.first_available_variant.id }}" />
       <input type="submit" value="Add to Cart"/>
     {% endform %}
   {% endfor %}
   {% break %}
 {% endif %}
{%- endfor -%}

{% assign collection-menu = linklists.indoor-navigation %}
{% for link in collection-menu.links %}
  <p>{{ link.title }}</p>
  {% for sub_link in link.links %}
    <p>{{ sub_link.title }}</p>
    {% for sub_sub_link in sub_link.links %}
      {% if sub_sub_link.type == "product_link" %}
        <img src="{{ sub_sub_link.object | img_url:"250x250" }}"/>
      {% endif %}
      <p>{{ sub_sub_link.title }} - {{ sub_sub_link.object.price | money }} - <span style="text-decoration: line-through; ">{{ sub_sub_link.object.compare_at_price | money}}</span></p>
    {% endfor %}
  {% endfor %}
{% endfor %}

{% if settings.enable_popup == true %}
   <p>pop-up enabled</p>
{% else %}
  <p>pop-up disabled</p>
{% endif %}
{% assign collection-menu = settings.header-menu %}
  {% for link in collection-menu.links %}
{% endfor %}